.back {
    
    background-image:  url('https://img.freepik.com/fotos-gratis/fundo-luxuoso-de-textura-de-marmore-branca-natural_24076-518.jpg?size=626&ext=jpg');
   
}


.serviço{
    margin-left: 280px;
    width: 200px;
}


.FooterSocial {
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.oferecemos{
    margin-left: 170px;
    width: 310px;

}

.ycreservas{
    margin-left: 130px;

}

.Icone1{
    
    height: 65px;
    width: 57px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 300px;
    margin: 0px 0px 0px 0px;
    
}


.rodape {
    
    display: flex;
    background-color:#E0E0E0;
    height: 45px;
    position: relative;
    align-items: center;
   
}

.Icones {
    
    height: 30px;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-bottom: 5px;
}

footer .btn{
    background-color: white ;
    border-color: white;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    padding: 1px;
    justify-content: center;
    align-items: center;
}
.centraliza {
    display: flex;
    
    align-items: center;
    justify-content: center;
}


